/* HeartSlider Styles — 3.2.3 */
.heart-slideshow {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.heart-slideshow.progressive-loading-disabled,
.heart-slideshow.first-image-loaded {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	visibility: visible;
}

.heart-slideshow .heart-slide {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-transition: opacity 0s 3s;
	transition: opacity 0s 3s;
}

.heart-slide[tab-index="-1"] {
	visibility: hidden;
}

.heart-slide .image-holder {
	pointer-events: none;
	height: 100%;
	width: 100%;
	margin: 0;
}

.heart-slide img {
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	visibility: hidden;
}

.heart-slide img[src],
.heart-slide img[srcset] {
	visibility: visible;
	-o-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover;";
}

.heart-slideshow.progressive-loading-disabled img,
.heart-slide img.image-loaded {
	opacity: 1;
}

.heart-slide.active {
	opacity: 1;
	z-index: 20;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-transition: opacity 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: opacity 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.heart-prev,
.heart-next {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: auto;
	width: 50%;
	width: calc(50% + 5em);
	z-index: 40;
	background: transparent;
	border: 0;
	outline: 0;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.heart-prev:hover,
.heart-next:hover {
	opacity: 1;
}

.heart-prev::before,
.heart-next::before {
	content: "";
	height: 1em;
	width: 1em;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: 0;
	margin: auto;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.heart-next::before {
	right: 0;
	left: auto;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.heart-next {
	left: 50%;
}
