/* HeartSlider Styles — 3.4.0 */
.heart-slideshow {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	overflow: hidden;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
}

.heart-slideshow.progressive-loading-disabled,
.heart-slideshow.first-image-loaded {
	opacity: 1;
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
	visibility: visible;
}

.heart-slideshow .heart-slide {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0;
	-webkit-transition: opacity 0s 3s;
	transition: opacity 0s 3s;
}

.heart-slide[tab-index="-1"] {
	visibility: hidden;
}

.heart-slide .image-holder {
	pointer-events: none;
	height: 100%;
	width: 100%;
	margin: 0;
}

.heart-slide img {
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	visibility: hidden;
}

.heart-slide img[src],
.heart-slide img[srcset] {
	visibility: visible;
	-o-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover;";
}

.heart-slideshow.progressive-loading-disabled img,
.heart-slide img.image-loaded {
	opacity: 1;
}

.heart-slide.active {
	opacity: 1;
	z-index: 20;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
	-webkit-transition: opacity 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
	transition: opacity 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.heart-prev,
.heart-next {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: auto;
	width: 50%;
	width: calc(50% + 5em);
	z-index: 40;
	background: transparent;
	border: 0;
	outline: 0;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.heart-prev:hover,
.heart-next:hover {
	opacity: 1;
}

.heart-prev::before,
.heart-next::before {
	content: "";
	height: 1.35em;
	width: 1.35em;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: 0;
	right: calc(50vw - 4em);
	bottom: 0;
	left: auto;
	margin: auto;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.heart-next::before {
	right: auto;
	left: calc(50vw - 4em);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.heart-next {
	left: 50%;
}

.progress-container {
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
}

.indicator {
	position: relative;
	border: 0;
	border-radius: 0;
	outline: none;
	background: transparent;
	width: 2rem;
	height: 21px;
	padding: 10px 0;
	width: clamp(1.5rem, 3vw, 3rem);
	margin: 0;
	overflow: hidden;
}

.progress-container button {
	cursor: pointer;
}

.show-progress .indicator::after,
.indicator::before {
	content: "";
	position: absolute;
	left: 5px;
	right: 5px;
	/* padding: 0 5px; */
	margin: 0 auto;
	height: 1px;
	width: auto;
	/* width: calc(100% - 10px); */
	background: var(--indicator-color, #fff);
	opacity: 0.15;
	transition: opacity 0.15s 0.1s ease-out;
}

.show-progress .indicator::after {
	transition: opacity 0s;
}

.show-progress .indicator.active::after {
	opacity: 1;
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: transform 3.5s 0.5s ease-in, opacity 0.5s 0.5s ease-out;
}

.show-progress .indicator.active.first::after {
	transition-delay: 0s;
}

.indicator.active::after {
	opacity: 0;
	transform: scaleX(1);
}

button.indicator:active::before,
button.indicator:hover::before {
	/* background: rgba(255, 255, 255, 0.75); */
	opacity: 0.15;
	transition: opacity 0.15s ease-out;
}

.progress-container .indicator.active::before {
	/* background: rgba(255, 255, 255, 1); */
	opacity: 0.8;
	transition: opacity 0.15s 0.2s ease-out;
}
.show-progress .progress-container .indicator.active::before {
	/* background: rgba(255, 255, 255, 1); */
	opacity: 0.65;
	transition: opacity 0.15s 0.2s ease-out;
}
