/* HeartSlider Styles — 3.5.0 */
.heart-slideshow {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
	height: 100svh;
	width: 100%;
	overflow: hidden;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
}

.heart-slideshow.progressive-loading-disabled,
.heart-slideshow.first-image-loaded,
.heart-slideshow.first-heart-loaded {
	visibility: visible;
	opacity: 1;
	transition: opacity 1s ease;
}

.heart-slideshow .heart-slide {
	pointer-events: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity 0s;
}

.heart-slide[tab-index="-1"] {
	visibility: hidden;
}

.heart-slide .image-holder {
	pointer-events: none;
	height: 100%;
	width: 100%;
	margin: 0;
}

.heart-slide img {
	display: block;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	user-select: none;
	visibility: hidden;
}

.heart-slide img[src],
.heart-slide img[srcset] {
	visibility: visible;
	-o-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover;";
}

.heart-slide video {
	display: block;
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	will-change: contents;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 3;
}

.heart-slide video.heart-loading,
.heart-slideshow.progressive-loading-disabled img,
.heart-slide .heart-loaded {
	opacity: 1;
}

.heart-slide[aria-hidden="true"] {
	visibility: hidden;
	content-visibility: hidden;
}
.heart-slide.active {
	/* display: block; */
	visibility: visible;
	content-visibility: visible;
	opacity: 1;
	z-index: 20;
	transform: translate3d(0, 0, 0);
	backface-visibility: visible;
	transition: opacity 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.fade-in-out .heart-slide {
	transition-timing-function: cubic-bezier(0.43, 0, 0.27, 1);
}
.fade-in-out .heart-slide.active {
	transition-timing-function: cubic-bezier(0.27, 0, 0.43, 1);
}

.heart-prev,
.heart-next {
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 50%;
	bottom: 0;
	left: auto;
	width: 50%;
	width: calc(50% + 5em);
	z-index: 40;
	background: transparent;
	border: 0;
	outline: 0;
	opacity: 0.3;
	transition: opacity 0.3s ease;
}

.heart-prev:hover,
.heart-next:hover {
	opacity: 1;
}

.heart-prev::before,
.heart-next::before {
	content: "";
	height: 1.35em;
	width: 1.35em;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: absolute;
	top: 0;
	right: calc(50vw - 4em);
	bottom: 0;
	left: auto;
	margin: auto;
	transform: rotate(135deg);
}

.heart-next::before {
	right: auto;
	left: calc(50vw - 4em);
	transform: rotate(-45deg);
}

.heart-next {
	left: 50%;
}
.progress-container {
	--total: 4; /* to be overridden by javascript */
}

.progress-container.type-dot {
	--dot-size: 6px;
	--gutter: 2%;
	--gutter: calc(50% / calc(var(--total, 4) * 2));
}

@media screen and (min-width: 1024px) {
	.progress-container.type-dot {
		/* --gutter: calc(15vw / var(--total, 4)); */
		--gutter: calc(15vw / calc(var(--total, 4) * 3));
	}
}

.progress-container.type-dash {
	--gutter: 1%;
	--gutter: calc(20vw / calc(var(--total, 4) * 3));
}

.progress-container {
	--max-container-width: 100vw;
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	bottom: env(safe-area-inset-bottom);
	left: 0;
	z-index: 50;
	margin: 0 auto;
	padding: 1%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	width: calc(var(--max-container-width, 100%) / calc(5 + var(--total, 4)) * var(--total, 4));
	max-width: calc(4rem * var(--total, 4));
	gap: var(--gutter, 0);
}

.indicator {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	border: 0;
	border-radius: 0;
	outline: none;
	background: transparent;
	width: 100%;
	height: 1px;
	padding: 10px 0;
	margin: 0;
	overflow: hidden;
}

.type-dot .indicator {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: calc(var(--dot-size, 6px) * 2);
	/* width: calc(var(--dot-size, 6px) + 10px); */
	width: calc(var(--dot-size, 6px) * 2);
	/* min-width: calc(var(--dot-size, 6px) * 2); */
	max-width: calc(var(--total, 4) / 100 * 1%);
	padding: 6px;
	padding: calc(var(--dot-size, 6px) / 2);
}

@media screen and (min-width: 1024px) {
	.type-dot .indicator {
		min-width: calc(var(--dot-size, 6px) * 2);
	}
}

.progress-container button {
	cursor: pointer;
}

/* .show-progress .indicator::after, */
.indicator::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: inherit;
	width: auto;
	background: var(--indicator-color, #fff);
	opacity: 0.25;
	transition: opacity 0.15s 0.1s ease-out;
}

.type-dot .indicator::before {
	/* left: 5px;
	left: calc(var(--dot-size, 6px) / 2);
	right: 5px;
	right: calc(var(--dot-size, 6px) / 2); */
	/* top: calc(var(--dot-size, 6px) / 2 + 2px);
	height: calc(var(--dot-size, 6px) - 4px);
	width: calc(var(--dot-size, 6px) - 4px); */
	/* border: 1px solid var(--indicator-color, #fff); */
	aspect-ratio: 1 / 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: auto;
	width: 30%;
	min-width: var(--dot-size, 6px);
	margin: auto;
	border-radius: 50%;
}

/* .type-dot .indicator::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: calc(var(--dot-size, 6px) / 2);
	margin: 0 auto;
	height: var(--dot-size, 6px);
	width: var(--dot-size, 6px);
	border: 1px solid var(--indicator-color, #fff);
	opacity: 0.35;
	border-radius: 50%;
} */

/* .indicator.active::after {
	opacity: 0;
	transform: scaleX(1);
} */

button.indicator:hover::before,
button.indicator:active::before {
	opacity: 0.55;
	transition: opacity 0.15s ease-out;
}

.progress-container .indicator.active::before {
	opacity: 0.8;
	transition: opacity 0.15s 0.2s ease-out;
}

/* .show-progress .indicator::after {
	transition: opacity 0s;
}

.show-progress .indicator.active::after {
	opacity: 1;
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: transform 3.5s 0.5s ease-in, opacity 0.5s 0.5s ease-out;
}

.show-progress .indicator.active.first::after {
	transition-delay: 0s;
} */

/* .show-progress .progress-container .indicator.active::before {
	opacity: 0.65;
	transition: opacity 0.15s 0.2s ease-out;
} */
